<div class="fondo">
    <main>
        <section id="formulario-asignatura">
            <div class="contenedor" id="contenedor-formulario-flex">
                <h3>Asignación</h3>
                <div class="tabla">
                    <table class="tablitaA">
                        <tr>
                            <th>Alumnos</th>
                            <th>RFIDS</th>
                            <th>Asignar</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <h5>Angel</h5>
                                    <button class="card-button">Seleccionar</button>
                                </div>
                                <div class="card">
                                    <h5>Carlos</h5>
                                    <button class="card-button">Seleccionar</button>
                                </div>
                            </td>
                            <td>
                                <div class="card">
                                    <h5>a1b2c3</h5>
                                    <button class="card-button">Seleccionar</button>
                                </div>
                                <div class="card">
                                    <h5>a1b2c3d4</h5>
                                    <button class="card-button">Seleccionar</button>
                                </div>
                                <div class="card">
                                    <h5>a1b2c3d4e5</h5>
                                    <button class="card-button">Seleccionar</button>
                                </div>
                            </td>
                            <td>
                                <div class="card">
                                    <h5>Angel</h5>
                                    <button class="card-button">Quitar</button>
                                </div>
                                <div class="card">
                                    <h5>a1b2c3</h5>
                                    <button class="card-button">Quitar</button>
                                </div>
                                <br>
                                <button class="card-button">Asignar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </main>
</div>