<div class="fondo">
    <main>
        <section id="formulario-asignatura">
            <div class="contenedor" id="contenedor-formulario-flex">
                <h3>Asignación</h3>
                <div class="tabla">
                    <table class="tablitaA">
                        <tr>
                            <th>Alumnos</th>
                            <th>RFIDS</th>
                            <th>Asignar</th>
                        </tr>
                        <tr>
                            <td>
                                allll
                                <br>
                                <button>Seleccionar</button>
                            </td>
                            <td>ferewrfew
                                <br>
                                <button>Seleccionar</button>
                            </td>
                            <td>fsjfriefgeiwj
                                <br>
                                <button>Asignar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </main>
</div>