<div class="fondo">
    <main>
        <section id="formulario-asignatura">
            <div class="contenedor" id="contenedor-formulario-flex">
                <h3>Alumnos</h3>
                <div class="tabla">
                    <table class="tablitaA">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Género</th>
                            <th>Matricula</th>
                            <th>Correo</th>
                            <th>RFID</th>
                            <th><a routerLink="/createCustomer"><i class="fas fa-plus-square"></i> Crear Alumno</a> </th>
                        </tr>
                        <tr *ngFor="let customer of Customers">
                            <td>{{customer.id}}</td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.ap_pat}}</td>
                            <td>{{customer.ap_mat}}</td>
                            <td>{{customer.gender}}</td>
                            <td>{{customer.matricula}}</td>
                            <td>{{customer.email}}</td>
                            <td>{{customer.serial}}</td>
                            <td>
                                <button type="button" class="edit tooltip" routerLink="/editCustomer/{{customer.id}}">
                                    <span class="tooltiptext">Editar</span></button>&nbsp;
                                <button class="delete tooltip" (click)="deleteCustomer(customer.id)">
                                    <span class="tooltiptext">Eliminar</span></button>&nbsp;
                                <!-- <button class="asignar tooltip" routerLink="/asignar-RFID">
                                    <span class="tooltiptext">Asignar</span></button> -->
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </main>|
</div>