.fondo{
    background: linear-gradient(rgba(183, 236, 231, 0.9),rgba(190, 189, 189, 0.9)), url(../../../assets/images/fondo2.jpg);
    width: 100%;
    height: 93vh;
    margin: 0;
    background-size: cover;
}

a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

/*                       TABLA                              */

#contenedor-formulario-flex {
    justify-content: center;
    max-width: 1580px;
    width: 100%;
}

h3 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: rgb(18, 88, 65);
    margin: 0;
    margin-bottom: 2%;
}

.tablitaA {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    border: 2px solid black;
    color: rgb(68, 68, 68);
    text-align: center;
    border-collapse: collapse;
    overflow-y: auto;
}

.tablitaA tr td  {
    border: 1px solid black;
    padding: 4px;
}

.tablitaA tr:hover {    
    background: rgba(158, 157, 157, 0.336);
}

.tablitaA th {
    padding: 8px;
    background: rgb(49, 238, 143);
}

button {
    background: none;
    outline: none;
    border: none;
}

.tabla {
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.delete {
    background-image: url(../../../assets/images/delete.png);
    background-position: center;
    height: 24px;
    width: 24px;   
}

.edit {
    background-image: url(../../../assets/images/edit.png);
    background-position: center;
    height: 24px;
    width: 24px;
}

.asignar {
    background-image: url(../../../assets/images/asignar.png);
    background-position: center;
    height: 24px;
    width: 24px;
}

/*             TOOLTIP              */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}   