<div>
    <header>
        <div class="menu">
            <div class="contenedor">
                <p class="logo"> CRUD A/S </p>
                <nav>
                    <ul>
                        <li><a routerLink="/"> Inicio </a></li>
                        <li><a routerLink="/alumnos"> Ver Alumnos </a></li>
                        <li><a routerLink="/asistencia"> Ver Asistencia </a></li>
                        <li><a routerLink="/rfids"> Ver RFIDS </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <main>
        <section id="formulario-asignatura">
            <div class="contenedor" id="contenedor-formulario-flex">
                <h3>Alumnos</h3>
                <div class="tabla">
                    <table class="tablitaA">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Genero</th>
                            <th>Matricula</th>
                            <th>Correo</th>
                            <th>RFID</th>
                            <th>Grupo</th>
                            <th>Opciones</th>
                        </tr>
                        <tr>
                            <td>allll</td>
                            <td>ferewrfew</td>
                            <td>fsjfriefgeiwj</td>
                            <td>fpejfiewmfokfw</td>
                            <td>fjreoigfejgoeri</td>
                            <td>jfoijfoieriofew</td>
                            <td>voidferkfoierkfer</td>
                            <td>jijregjreijgireiger</td>
                            <td>nriugerujgierugjiuerjgierpppp</td>
                        </tr>
                    </table>
                </div>

            </div>
        </section>
    </main>

</div>