.fondo{
    background: linear-gradient(rgb(172, 17, 68),rgba(124, 122, 122, 0.9)), url(../../../assets/images/fondo2.jpg);
    width: 100%;
    height: 93vh;
    margin: 0;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.underline {
    border-bottom: solid 3px #ffffff;
    margin: -0.512em auto;
    width: 200px;
}

/*                       FORMULARIO                              */
#contenedor-formulario-flex {
    justify-content: center;
    max-width: 780px;
    width: 100%;
    border: solid 3px #000000;
    margin: auto;
    position: relative;
}

h3 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-bottom: 2%;
    padding: 20px;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

#formulario-alumno form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

input[type="text"], input[type="email"]{
    width: 80%;
    margin-bottom: 15px;
    padding: 7px 0;
    border: 0;
    border-bottom: 2px solid #000000;
    font-size: 18px;
    outline: none;
    background: none;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input::placeholder {
    color: rgb(255, 255, 255);
}

#formulario-alumno form button {
    padding: 15px 30px;
    width: 30%;
    display: inline-block;
    outline: none;
    background: rgb(0, 0, 0);
    border: none;
    color:white; 
    text-align: center;
    justify-content: space-around;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

#formulario-alumno form button:hover {
    background: rgb(65, 65, 65);
}