<header>
    <div class="menu">
        <div class="contenedor">
            <img src="../../../assets/images/img-navbar.jpg" >
            <nav class="menu-nav">
                <ul>
                    <li><a routerLink="/"><i class="fas fa-home"></i> Inicio </a></li>
                    <li><a routerLink="/customers"><i class="fas fa-user"></i> Alumnos </a></li>
                    <li><a routerLink="/rfids"><i class="far fa-address-card"></i> RFIDS </a></li>
                    <li><a routerLink="/asistencia"><i class="fas fa-user-check"></i> Asistencia </a></li>
                    <li><a routerLink="/asignar-RFID"><i class="fas fa-tasks"></i> Asignación </a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>