<div class="fondo">
    <main>
        <section id="formulario-alumno">
            <div class="container" id="contenedor-formulario-flex">
                <h3>&bull; Registro Alumno &bull;</h3>
                <div class="underline"></div>
                <form>
                    <input type="text" placeholder="Nombre" name="">
                    <input type="text" placeholder="Apellido Paterno" name="">
                    <input type="text" placeholder="Apellido Materno" name="">
                    <input type="text" placeholder="Matricula" name="">
                    <input type="email" placeholder="Correo" name="">
                    <input type="text" placeholder="Genero" name="">
                    <button>Guardar</button> &nbsp;
                    <button routerLink="/alumnos">Cancelar</button>
                </form>
            </div>
        </section>
    </main>
</div>