<div class="">
    <header>
        <div class="menu">
            <div class="contenedor">
                <p class="logo"> CRUD A/S </p>
                <nav>
                    <ul>
                        <li><a routerLink="/"> Inicio </a></li>
                        <li><a routerLink="/alumnos"> Ver Alumnos </a></li>
                        <li><a routerLink="/asistencia"> Ver Asistencia </a></li>
                        <li><a routerLink="/rfids"> Ver RFIDS </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section id="formulario-alumno">
            <div class="container" id="contenedor-formulario-flex">
                <h3>Registro Alumno</h3>
                <form>
                    <input type="text" placeholder="Nombre" name="">
                    <input type="text" placeholder="Apellido Paterno" name="">
                    <input type="text" placeholder="Apellido Materno" name="">
                    <input type="text" placeholder="Matricula" name="">
                    <input type="email" placeholder="Correo" name="">
                    <input type="text" placeholder="Genero" name="">
                    <button>Guardar</button>
                    
                    <button routerLink="/">Cancelar</button>
                </form>

            </div>
        </section>
    </main>

</div>