<div>
    <header>
        <div class="menu">
            <div class="contenedor">
                <p class="logo"> CRUD A/S </p>
                <nav>
                    <ul>
                        <li><a routerLink="/"> Inicio </a></li>
                        <li><a routerLink="/alumnos"> Ver Alumnos </a></li>
                        <li><a routerLink="/asistencia"> Ver Asistencia </a></li>
                        <li><a routerLink="/rfids"> Ver RFIDS </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section id="formulario-asignatura">
            <div class="contenedor" id="contenedor-formulario-flex"> 
                <h3>RFID</h3>
                <div class="tabla">
                    <table class="tablitaA">
                        <tr>
                            <th>Numero de Serie</th>
                            <th>Opciones</th>
                        </tr>
                        <tr>
                            <td>allll</td>
                            <td>ferewrfew</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </main>

</div>