<div class="fondo">
    <main>
        <section id="formulario-asignatura">
            <div class="contenedor" id="contenedor-formulario-flex">
                <h3>Asistencia</h3>
                <div class="calendar">
                    Fecha &nbsp;
                    <input type="date" name="date" id="date" class="date" >
                </div>
                <div class="tabla">
                    <table class="tablitaA">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Matricula</th>
                            <th>RFID</th>
                            <th>Fecha</th>
                        </tr>
                        <tr>
                            <td>Angel</td>
                            <td>Ruiz</td>
                            <td>Perez</td>
                            <td>181109</td>
                            <td>a1b2c3</td>
                            <td>03/11/2019</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </main>
</div>