<div class="fondo">
    <main>
        <section id="formularios">
            <div class="container">
                <div class="container-forms">
                    <h1>Bienvenido al</h1>
                    <h1>Registro de Asistencias</h1>
                </div>
                <br>
                <div class="contenedor-formularios">
                    <div class="formularioColor color1">
                        <img class="imagen" src="../../../assets/images/alumno.png"> 
                        <h4>Alumno</h4>
                        <button routerLink="/createCustomer">Crear</button>
                    </div>
                    <div class="formularioColor color1">
                        <img class="imagen" src="../../../assets/images/rfid.png">
                        <h4>RFID</h4>
                        <button routerLink="/createRfid">Crear</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>